body {
  background-color: #1F2531; 
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100vh;  
          
}





@media screen and (max-width: 500px) { 
  .App {
      padding: 20px;
  }
}



